.image-item {
  display: inline-block;
  line-height: normal;
  position: relative;
}

.image-item__rating {
  background-color: #61DAFB;
  border-radius: 50%;
  display: inline-block;
  height: 30px;
  left: -15px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: -15px;
  width: 30px;
}

.image-item__img {
  display: block;
}
